/*General Rules */

html {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 64px;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 32px;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  margin-bottom: 24px;
}

button {
  background: #545454;
  width: 100%;
  padding: 8px 0;
  color: white;
  font-size: 18px;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 0;

}

/* Nav Start */
.navigation {
  align-items: center;
}
nav li {
  list-style: none;
  display: flex;
  font-size: 24px;
}

nav li > a {
  color: #545454;
}

img, video {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 580px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    margin-left: 24px;
    padding: 0 8;
    width: 100%;
  }
  .logo {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .logo a {
    display: flex;
    align-items: center;
  }
  .logo span {
    font-weight: bold;
  }
  nav li {
    margin: 0px 8px;
  }
  nav li:last-child {
    margin-right: 24px;
  }
}

/* Body Start */
main {

}

.practice {
  display: none;
}

.practice p {
  font-size: 24px;
  color: #939393;
}

.banner {
  background: url('../images/banner.jpg');
  width: 60%;
}

.banner img {
  display: none;
}

.start-here {
  color: #545454;
  padding: 32px 16px;
  max-width: 423px;
  margin: 16px;
}

@media only screen and (min-width: 800px) {
  .learn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #d3d3d3;
  }
  .banner {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
    background: none;
  }
  .banner img {
    display: flex;
  }
  .start-here {
    max-width: 423px;
  }
  .start-here h1 {
    font-size: 80px;
  }
  .start-here h2 {
    margin-bottom: 32px;
    line-height: normal;
  }
}


.information {
  padding: 16px 16px 32px;
}

.information-text {
  padding: 8px 16px;
}

.information-text h3, .information-text p {
  margin-bottom: 8px;
  color: #545454;
}

.info-thumb {
  height: 150px;
  overflow: hidden;
}


@media only screen and (min-width: 800px) {
  .information {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .practice {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
  }
  .practice img {
    min-height: 350px;
  }
  .practice h1 {
    align: left;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .info-thumb {
    height: auto;
  }

  .orientation, .campus, .guest-lectures {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding: 16px;
    max-width: 423px;
  }

  .guest-lectures {
    background: #d3d3d3;
  }

  .orientation img, .campus img, .guest-lectures img {
    width: 35%;
  }
  .information-features div:first-child {
    margin-top: 16px;
  }
  .information div:nth-child(n2) {
    border-top: none;
  }
  .information-features {
    border-left: 1px solid #d3d3d3;
    padding-bottom: 32px;
    display: block;
  }
  blockquote > footer {
    margin-top: 32px;
  }
}

.featured-courses {
  padding: 16px 16px;
  border-bottom: 1px solid #d3d3d3;
}

.featured-courses h1, .exhibition-featured h1 {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 32px;
  color: #545454;
}

.urban {
  text-align: left;
}

.featured-courses img, .featured-courses .course-info p {
  display: none;
}

.course-info > h2 {
  padding: 16px;
  background: white;
  margin-bottom: 8px;
}


@media only screen and (min-width: 550px) {
  .featured-courses {
    background: #d3d3d3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .featured-courses img, .featured-courses .course-info p {
    display: flex;
  }
  .featured-courses img {
    height: 154px;
  }
  .course-info h3, .course-info {
    background: white;
  }
  .course-info p {
    padding: 0 16px 8px;
  }
  .course-info p:last-child {
    padding: 0 16px 24px;
  }
  .course-card {
    width: 350px;
    margin-right: 32px;
    margin-bottom: 24px;
  }
  .course-info {
    min-height: 154px;
  }
}


.recent-exhibits, .exhibit-vid h3, .exhibit-vid p {
  display: none;
}

.exhibition-featured h2 {
  padding: 32px 0;
}


@media only screen and (min-width: 750px) {

  .recent-exhibits {
    display: block;
  }
  .exhibition-container {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    margin-bottom: 32px;
  }

  .exhibition-featured-info p {
    font-size: 24px;
    color: #939393;
  }

  .exhibition-featured-info h1 {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .exhibit-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    max-width: 423px;
    height: 168px;
  }
  .exhibit-card img {
    width: 35%;
    margin-right: 16px;
  }
  .exhibit-info {
    display: flex;
    flex-direction: column;
  }
  .exhibit-card:first-child {
    background: #d3d3d3;
  }
  .exhibit-vid {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px 24px;
  }
  .exhibit-vid h3, .exhibit-vid p {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
}

/* Footer Start */
footer > nav {
  display: none;
}

.bottom{
  border-top: 1px solid #d3d3d3;
}

footer {
  padding: 32px 0;
}

.copyright {
  margin-left: 24px;
  font-size: 24px;
}

@media only screen and (min-width: 400px) {
  footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer > nav {
    display: flex;
  }

  footer > nav ul {
    display: flex;
    flex-direction: row;
  }

  footer > nav ul li:first-child {
    margin-right: 16px;
  }
}
